@font-face {
	font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
	src: url(../fonts/raleway/raleway-800.woff2);
	font-display: swap;
}

@font-face {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/rubik/rubik-400.woff2);
	font-display: swap;
}

@font-face {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/rubik/rubik-700.woff2);
	font-display: swap;
}

@font-face {
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/rubik/rubik-800.woff2);
	font-display: swap;
}

html {
  height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
  min-height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 16px;
	font-weight: 400;
  line-height: 19px;
  color: #000000;
  background-color: #ffffff;
}

main {
	flex-grow: 1;
}

h1, h2, h3 {
	margin: 0;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: #000000;
	text-decoration: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="search"],
input[type="email"],
button {
	padding: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: 0;
}

.container {
	margin: 0 auto;
	max-width: 1160px;
}

.visually-hidden {
  margin: -1px;
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

/*header*/
.header-page {
	padding: 48px 25px 30px 60px;
	background: #FFE17F;
}

.nav {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.nav-wrap,
.header-list {
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	width: 560px;
}

.secondary-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	margin-bottom: 35px;
}

.basket-link {
	margin-left: 35px;
}

.contacts-link {
	margin-left: 65px;
}

.search::before,
.enter-btn::before,
.compare-link::before,
.basket-link::before {
	content: "";
	display: inline-block;
	color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
}

.search::before {
	background-image: url("../img/device-icon/search.svg");
	width: 16px;
	height: 16px;
}

.enter-btn::before {
	background-image: url("../img/device-icon/user.svg");
	width: 13px;
	height: 12px;
}

.compare-link::before {
	background-image: url("../img/device-icon/compare.svg");
	width: 10px;
	height: 12px;
}

.basket-link::before {
	background-image: url("../img/device-icon/cart.svg");
	width: 16px;
	height: 14px;
}

.devices-link {
	display: flex;
	align-items: center;
}

.devices-link,
.header-link,
.details-link,
.services-button,
.write-link {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.devices-link::after {
	margin-left: 10px;
	padding: 15px;
	content: "";
	display: block;
	color: #dcdcdc;
	background-color: #ffffff;
	background: url("../img/device-icon/plus.svg") no-repeat center;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid rgb(0, 0, 0, 0.2);
}

.categories-item {
	line-height: 18px;
}

/*index.html*/

.bg-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 135px;
	background-color: #FFE17F;
	color: #ffffff;
}
.bg-top-slider {
	display: block;
	font-weight: 800;
	font-size: 180px;
	line-height: 30px;
	text-align: right;
}

.slider-wrapper {
	display: flex;
	justify-content: space-between;
}

.slider-img-list {
	width: 560px;
}

.slider-info-wrap {
	margin-left: auto;
	width: 560px;
}

.slogan-text {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.d-block {
	display: block;
}

.slider-info-device {
	font-size: 18px;
	line-height: 30px;
}

.details-link,
.write-link {
	text-align: center;
	background: #FFE17F;
}

.feature-options {
	font-size: 36px;
	line-height: 30px;
}

.feature-text {
	font-size: 16px;
	line-height: 30px;
}

.categories-section-list {
	display: flex;
	justify-content: space-between;
}

.categories-section-item {
	margin-right: 40px;
	display: inline-block;
	width: 160px;
}

.categories-section-item:last-child {
	margin-right: 0;
}

.categories-section-link {
	display: inline-block;
	color: #000000;
	text-decoration: none;
}

.categories-section-img {
	background-color:  #FFE17F;
	text-align: center;
	width: 160px;
	height: 160px;
}

.goods-img,
.categories-section-img,
.button-socials::before {
	content: "";
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
}

.virtual-reality {
	background-image: url("../img/virtual.svg");
	background-size: 97px 55px;
}

.selfie-monopods {
	background-image: url("../img/monopods.svg");
	background-size: 86px 117px;
	background-position-y: bottom;
}

.action-camera {
	background-image: url("../img/camera.svg");
	background-size: 71px 87px;
}

.fitness-bracelets {
	background-image: url("../img/bracelets.svg");
	background-size: 107px 65px;
}

.smart-watch {
	background-image: url("../img/watch.svg");
	background-size: 56px 98px;
}

.quadrocopters {
	background-image: url("../img/quadrocopters.svg");
	background-size: 132px 69px;
}

.services {
	margin-top: 75px;
	background-color: #F0F0F0;
}

.services-wrap {
	display: flex;
	justify-content: space-between;
}

.services-button {
	margin-bottom: 45px;
	background-color: #FFE17F;
	border: none;
}

.services-button-list {
	margin-right: auto;
	width: 300px;
}

.services-info-item {
	padding-right: 145px;
	display: block;
	width: 560px;
	color: #000000;
	min-height: 280px;
}

.services-info-title {
	font-family: Raleway;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.about-title,
.contacts-title {
	margin: 45px 0 55px;
	font-family: Raleway;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.services-info-text {
	margin-right: auto;
	max-width: 500px;
	font-size: 18px;
	line-height: 30px;
}

.delivery-section {
	margin-bottom: 95px;
}

.delivery-item {
	background: url("../img/delivery.svg") no-repeat center right;
	background-size:  136px 164px;
}

.delivery-section-img {
	display: block;
	background: #FFE17F url("../img/device-icon/delivery-before-car.svg") no-repeat center;
	width: 125px;
	height: 100px;
}

.delivery-section-title {
	padding: 40px 5px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.wrap-about-contacts,
.delivery-section-wrap {
	display: flex;
	justify-content: space-between;
}

.delivery-section-wrap {
	align-items: center;
	color: #000000;
	background-color: #F0F0F0;
	height: 100px;
}

.delivery-block-info {
	margin: 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(220, 220, 220, 0.5);
	width: 40px;
	height: 40px;
}

.info {
	display: inline-block;
	background: rgba(220, 220, 220, 0.5) url("../img/device-icon/info.svg") center no-repeat;
	width: 2px;
	height: 12px;
}

.warranty-item {
	background: url("../img/warranty.svg") no-repeat center right;
	background-size:  171px 195px;
}

.credit-item {
	background: url("../img/credit.svg")  center right no-repeat;
	background-size:  156px 188px;
}

.button-socials {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50% ;
	width: 40px;
	height: 40px;
}

.about::before,
.contacts::before,
.footer-contacts-wrap::before {
	content: "";
	display: block;
	background-color: #000000;
	width: 80px;
	height: 7px;
}

.about {
	margin-right: 120px;
	width: 500px;
}

.contacts {
	width: 560px;
}

.text-info-wrap,
.about-text {
	font-size: 18px;
	line-height: 30px;
	color: #444444;
}

.contacts-subtitle {
	margin: 30px 0 15px;
	font-size: 24px;
	font-weight: 700;
}

.contacts-address {
	margin-bottom: 30px;
}

.contacts-text,
.about-text {
	margin: 0;
}

.about-text {
	margin-top: 40px;
}

.schedule-list {
	padding: 0;
}

.about-list {
	margin-bottom: 70px;
	padding-left: 20px;
}

.text-info-wrap {
	margin-bottom: 65px;
}

.about-item {
	margin-bottom: 15px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	list-style-type: disc;
	color: #FFC700;
}

.backdown {
	margin-bottom: 80px;
}

.about-more-us {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFE17F;
}

.subscribe {
	margin-top: 90px;
	padding: 75px 0 135px;
	color: #000000;
	background-color: #F0F0F0;
}

.subscribe-wrap {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.subscribe-title {
	margin: 0;
	width: 390px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.subscribe-info,
input[type="email"] {
	font-size: 18px;
	line-height: 30px;
}

.subscribe-info {
	margin-left: auto;
	width: 560px;
}

.subscribe-form-wrap {
	display: flex;
	justify-content: space-between;
}

.subscribe-form {
	margin-right: 135px;
	display: flex;
	justify-content: space-between;
	border-bottom:  3px solid #dcdcdc;
	width: 865px;
}

.subscribe-button {
	padding: 15px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	border: 3px solid #dcdcdc;
	box-sizing: border-box;
	border-bottom: none;
}

.free-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	width: 170px;
}

.free-info::before {
	content: "";
	display: block;
	background: url("../img/device-icon/tick-big.svg") no-repeat center center;
	width: 14px;
	height: 14px;
}

/*catalog.html*/
.catalog-title {
	margin-bottom: 15px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.breadcrumbs-list {
	display: flex;
	color: #ebebeb;
}

.breadcrumbs-item {
	margin-right: 35px;
}

.catalog {
	display: flex;
	justify-content: space-between;
}

.catalog-wrap {
	margin-bottom: 50px;
}

.catalog-filter-title,
.sorting-title {
	font-family: Raleway, sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 800;
	text-transform: uppercase;
}

.catalog-filter-title {
	background-color: #DCDCDC;
}

.sorting-wrap {
	background-color: #EBEBEB;
}

.goods-card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.goods-card:nth-child(odd) {
	margin-right: 40px;
}

.filter-wrap {
	width: 330px;
	margin-right: 70px;
	color: #000000;
	background-color: #E5E5E5;
}

.catalog-right-column {
	width: 760px;
}

.filter-title {
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.price-label {
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #dcdcdc;
}


.filter-color-item,
.filter-item  {
	margin-bottom: 20px;
}

.filter-group {
	border: none;
}

.filter-button,
.goods-link-btn {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-color: #FFC700;
}

.goods-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.goods-price {
	font-size: 18px;
	line-height: 21px;
}

.pagination-show-more,
.pagination-prev,
.pagination-next {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.pagination-list {
	background-color: #EBEBEB;
}

/*footer*/
.footer-page {
	padding: 60px 0;
	background-color: #444444;
	color: #ffffff;
}

.footer-wrap,
.footer-nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-nav-item {
	margin-right: 15px;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer-nav-item:nth-last-child() {
	margin-right: 0;
}

.address-text {
	margin-right: 115px;
	max-width: 250px;
}

.footer-page a {
	color: #ffffff;
}

.footer-nav-link {
	line-height: 30px;
}

.footer-contacts-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-contacts-wrap::before {
	background-color: #FFC700;
}

.about-text .htmlacademy-link {
	color: #FFC700;
}

.button-socials::before {
	color: #444444;
}

.footer-socials-list {
	display: flex;
	justify-content: space-between;
}

.footer-socials-item {
	margin-right: 15px;
}

.contacts-phone {
	margin-left: auto;
	display: block;
	width: 190px;
}

.facebook::before {
	background-image: url("../img/device-icon/facebook-icon.svg");
	width: 9px;
	height: 18px;
}

.instagram::before {
	background-image: url("../img/device-icon/instagram-icon.svg");
	width: 16px;
	height: 16px;
}

.twitter::before {
	background-image: url("../img/device-icon/twitter-icon.svg");
	width: 15px;
	height: 14px;
}
