body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
	font-weight: 400;
  line-height: 19px;
  color: #000000;
  background-color: #ffffff;
}

li {
	list-style: none;
}

a {
	color: #000000;
	text-decoration: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="search"],
button {
	background: none;
	border: 0;
	padding: 0;
	color: inherit;
	font: inherit;
}

.container {
	margin: 0 auto;
	max-width: 1160px;
}

li {
	list-style: none;
}

/*header*/
.header-page {
	padding: 48px 25px 30px 60px;
	background: #FFE17F;
}

.search::before,
.enter-btn::before,
.compare-link::before,
.basket-link::before {
	content: "";
	display: inline-block;
	color: #ffffff;
}

.search::before {
	background: url("../img/device-icon/search.svg") no-repeat center;
	width: 16px;
	height: 16px;
}

.enter-btn::before {
	background: url("../img/device-icon/user.svg") no-repeat center;
	width: 13px;
	height: 12px;
}

.compare-link::before {
	background: url("../img/device-icon/compare.svg") no-repeat center;
	width: 10px;
	height: 12px;
}

.basket-link::before {
	background: url("../img/device-icon/cart.svg") no-repeat center;
	width: 16px;
	height: 14px;
}

.devices-link::after {
	padding: 15px;
	margin-left: 10px;
	content: "";
	display: inline-block;
	color: #000000;
	background-color: #ffffff;
	background: url(../img/device-icon/plus.svg) no-repeat center;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #000000;
	opacity: 0.3;
}

.goods-list {
	display: flex;
	justify-content: space-between;
}

.goods-item {
	margin-right: 40px;
	max-width: 160px;
	display: inline-block;
}

.goods-link {
	display: inline-block;
	color: #000000;
	text-decoration: none;
}

.goods-item:last-child {
	margin-right: 0;
}

.goods-img {
	background-color:  #FFE17F;
	text-align: center;
	width: 160px;
	height: 160px;
}

.goods-img,
.button-socials::before {
	content: "";
	display: inline-block;
	color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
}

.virtual-reality {
	background-image: url("../img/virtual.svg");
	background-size: 97px 55px;
}

.selfie-monopods {
	background-image: url("../img/monopods.svg");
	background-size: 86px 117px;
	background-position-y: bottom;
}

.action-camera {
	background-image: url("../img/camera.svg");
	background-size: 71px 87px;
}

.fitness-bracelets {
	background-image: url("../img/bracelets.svg");
	background-size: 107px 65px;
}

.smart-watch {
	background-image: url("../img/watch.svg");
	background-size: 56px 98px;
}

.quadrocopters {
	background-image: url("../img/quadrocopters.svg");
	background-size: 132px 69px;
}

.services-button {
	margin-bottom: 45px;
	background-color: #FFE17F;
	border: none;
}

.services-info-item {
	padding-right: 263px;
	display: block;
	color: #000000;
	min-height: 280px;
}

.delivery-item {
	background: url("../img/delivery.svg") no-repeat center right;
	background-size:  136px 164px;
}

.warranty-item {
	background: url("../img/warranty.svg") no-repeat center right;
	background-size:  171px 195px;
}

.credit-item {
	background: url("../img/credit.svg") no-repeat center right;
	background-size:  156px 188px;
}

.button-socials {
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50% ;
	display: inline-block;
}

/*footer*/
.button-socials::before {
	color: #444444;
}

.facebook::before {
	background-image: url("../img/device-icon/facebook-icon.svg");
	width: 9px;
	height: 18px;
}

.instagram::before {
	background-image: url("../img/device-icon/instagram-icon.svg");
	width: 16px;
	height: 16px;
}

.twitter::before {
	background-image: url("../img/device-icon/twitter-icon.svg");
	width: 15px;
	height: 14px;
}
